*{
  margin: 0%;
  padding: 0%;
}
body{ 
  background-color:#4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  ;
  
}
.container{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-top: 200px;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  
}
.time{
  height: 100px;
  width: 100px;
  border: 3px solid;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  font-family: 'Poppins',sans-serif;
}
.hour{
  font-family: 'Poppins',sans-serif;
  font-size: larger;
  font-weight: bolder;
}
.minute{
  font-family: 'Poppins',sans-serif;
  font-size: larger;
  font-weight: bolder;
}
.seconds{
  font-family: 'Poppins',sans-serif;
  font-size: larger;
  font-weight: bolder;
}
#hour{border: 3px dotted blue ;}
#mint{border: 3px dotted purple;}
#seco{border: 3px dotted red;}

#unit{
  padding: 10px;
  border: 3px dotted orangered;}

.dateContainer{
  
  font-family: 'Poppins',sans-serif;
  font-size: larger;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background-color: grey;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
